/* .button {
    border: medium none;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    display: block;
    font-size: 14px;
    height: 40px;
    line-height: 38px;
    padding-bottom: 4px;
    text-shadow: 1px 1px 1px #000000;
    width: 200px;
}

#loginBtn {
    background-image: url("images/blueBtn.png");
}

#loginBtn:hover {
    background-image: url("images/blueHoverBtn.png");
    cursor: pointer;
}

#signupBtn {
    background-image: url("images/greenBtn.png");
}

#signupBtn:hover {
    background-image: url("images/greenHoverBtn.png");
    cursor: pointer;
} */


/* button */
.button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}

/* red button */
.red {
    background: -moz-linear-gradient(center top , #ED1C24, #AA1317) repeat scroll 0 0 transparent;
    border: 1px solid #980C10;
    color: #FADDDE;
}
.red:hover {
    background: -moz-linear-gradient(center top , #C9151B, #A11115) repeat scroll 0 0 transparent;
}
.red:active {
    background: -moz-linear-gradient(center top , #AA1317, #ED1C24) repeat scroll 0 0 transparent;
    color: #DE898C;
}

/* green button */
.green {
    background: -moz-linear-gradient(center top , #7DB72F, #4E7D0E) repeat scroll 0 0 transparent;
    border: 1px solid #538312;
    color: #E8F0DE;
}
.green:hover {
    background: -moz-linear-gradient(center top , #6B9D28, #436B0C) repeat scroll 0 0 transparent;
}
.green:active {
    background: -moz-linear-gradient(center top , #4E7D0E, #7DB72F) repeat scroll 0 0 transparent;
    color: #A9C08C;
}